@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

.my-page {
    background-image: url('../assets/login.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

.register-section {
    background-image: url('../assets/pp.png');
    height: 50%;
    width: 50%;
}
